/* head */

* {}

.head {
    padding: 20px 0 0 0;
    background-color: #ffffff;
    height: 100px;
    /* width: 1440px; */
    position: relative;
    padding-top: 0px;
}


/* sidebar */

.menu {
    font-size: 24px;
}

.lodo i {
    font-size: 24px;
}

.lodo img {
    width: 138px;
    height: 59px;
}

.menu:hover {
    background-color: darkgray;
}

.side-bar .contact p img {
    width: 16px;
    height: 16px;
}

.side-bar .contact p {
    color: blue;
    font-size: 12px;
    margin-top: 20px;
    padding: 0 15px;
}

.danh-sach ul li span {
    margin-left: 43px;
    color: white;
}

.head .side-bar .danh-sach a img {
    position: absolute;
    top: 0;
    left: 12px;
}

.danh-sach ul li a {
    color: #000000;
}

.danh-sach ul li a:hover {
    color: blue;
    text-decoration: none;
}

.head .side-bar .danh-sach {
    position: relative;
}

.head .side-bar .lodo {
    margin: 20px 0;
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
}

.head .danh-sach ul li {
    width: 100%;
    border-bottom: 1px solid yellow;
    padding: 5px 16px;
}

.head .danh-sach ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.head .side-bar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background: #808bb9;
    height: 100%;
    display: none;
}

.head .menu {
    position: absolute;
    right: 30px;
    top: 29px;
    display: none;
    cursor: pointer;
    z-index: 100;
    padding: 5px;
}

.tieude {
    margin-left: 0px;
    padding-left: 147px;
    padding-right: 0px;
    margin-right: 0px;
    width: 100%;
}


/* end sidebar */


/* lien hệ */

.lienhe a:nth-child(1) {
    margin-right: 20px;
}

.lienhe1 img {
    margin-right: 8px;
}

.lienhe {
    width: 190px;
}

.head .lienhe p img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.head .lienhe p {
    font-size: 12px;
    margin-bottom: 0;
    color: rgb(22, 20, 20);
}

.head .lienhe {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.head .lienhe p {
    float: right;
}

.head .lienhe {
    display: flex;
    justify-content: flex-end;
}

.so-dien-thoai {
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.information {
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.logo_hanoitourist img {
    width: 175px;
    height: 60px;
    object-fit: contain;
    margin-left: 147px;
}

.head .selection {
    position: relative;
    align-items: center;
    display: flex;
}

.head .selection .lienhe1 p {
    position: absolute;
    top: 4px;
    bottom: 9px;
}

.head .selection img {
    position: absolute;
    top: 16px;
    left: 75px;
}

.head .selection ul {
    list-style: none;
    margin-bottom: 0;
}

.head .selection ul li a {
    width: 98px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0f62ac;
    text-decoration: none;
}

.head .selection ul li {
    float: left;
    width: 126px;
    height: 24px;
    border-radius: 3px;
    border: solid 0.5px #0f62ac;
    background-color: #ffffff;
    margin-right: 10px;
    text-align: center;
}

.selection ul li {
    display: inline-block;
    float: right;
}


/* end lien he */


/* menu các tour du lich */

.Trang-ch {
    width: 81px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.Du-lch-trong-nc a {
    width: 150px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.Du-Lch-nc-ngoi a {
    width: 146px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.hot-tour a {
    width: 69px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.combo-du-lch a {
    width: 109px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.visa a {
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.vn-chuyn a {
    width: 89px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.th-vin a {
    width: 89px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.tin-tc a {
    width: 89px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.nav-item a {
    line-height: 36px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.hover ul li a:hover {
    background-color: #0f62ac;
    color: #ffffff;
}

.menudulich {
    padding-left: 20px;
    padding-right: 20px;
}

.Trang-ch-section {
    width: 58px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4c84ff;
}

.Menu-C2 {
    width: 62px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}

.next-steps {
    width: 6px;
    height: 8px;
    object-fit: contain;
}


/* end menu các tour du lich  */


/* tour du lich */

.tin_noi_bat h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top: 40px;
}


/* end tour du lich */


/* anh img benner bac trung nam */

.anh {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    bottom: 20px;
}

.title {
    width: 100%;
    height: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.mien-bac-trung-nam h3 {
    height: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top: 40px;
}

.Rectangle-2 {
    width: 60px;
    display: -webkit-inline-box;
    height: 2px;
    background-color: #0087ff;
}


/* end anh img benner bac trung nam */


/* img cat ba */

.image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
    float: left;
}

.img-card .card {
    margin-right: 10px;
    margin-bottom: 10px;
}

.card {
    position: relative;
}

.tex-điađiem-dulich {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    height: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}


/* end img cat ba */


/* content  */

.content img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
    margin-top: 37px;
}

.footer img {
    margin-top: 0px;
}

.footer {
    background-image: url("images/bg.png ");
    height: auto;
}

.Line-3-Copy {
    width: 1145px;
    height: 2px;
    border: solid 1px #ffffff;
}

.col-lg-3.a:first-child {
    padding-left: 0;
}

.col-lg-3.a:last-child {
    padding-right: 0;
}

.a img {
    width: 260px;
    height: auto;
}

.logo-hnt img {
    width: 250px;
    height: 86px;
    object-fit: contain;
    background-color: #1a0746;
}


/* .container-fluid {
    display: flex;
} */

.TOUR-TRONG-NC h2 {
    height: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    line-height: 19px;
}

.TOUR-TRONG-NC ul li {
    margin-top: 20px;
    text-decoration: none;
}

.TOUR-TRONG-NC li:nth-child(1) {
    border-left-color: #ff9300;
}

.cac-tour-du-lich {
    padding-left: 20px;
}

.cac-tour-du-lich li {
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.Rectangle-19 {
    width: 3px;
    height: 20px;
    background-color: #ff9300;
    display: -webkit-inline-box;
    margin-right: 7px;
}

.CNG-TY-L-HNH-HANO {
    width: 583px;
    height: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 16px;
}

.yellow img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.Tr-s-chnh-18-L li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 20px;
}

.Lin-h-cng-ng {
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.instagram img {
    padding-left: 40px;
    float: right;
}

.img-123-pay {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
}

.nganluong {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.img-visa {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.mastercard {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

.jcb {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 40px;
    padding-bottom: 0px;
}

.verified {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.mcsc {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.Rectangle-18 {
    width: 1440px;
    height: 26px;
    line-height: 26px;
    background-color: #0f62ac;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    line-height: 26px;
}


/* end card */

@media screen and (max-width: 1200px) {
    .head .home {
        display: none;
    }
    .head .menu {
        display: block;
    }
}

@media screen and (max-width:992px) {
    .head .menu {
        display: block;
    }
    .head .lienhe {
        display: none;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 321px) {}